<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="LoteNFeSoapHttps">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate"/>
                    </security>
                </binding>
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://nfe.prefeitura.sp.gov.br/ws/lotenfe.asmx" binding="basicHttpsBinding" bindingConfiguration="LoteNFeSoapHttps" contract="NFEPrefeituraSaoPauloService.LoteNFeSoap" name="LoteNFeSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
